$margin-btn: 8rem
$margin-gorizont: 4rem

@mixin clearfix
    &::after
        content: ""
        display: table
        clear: both
.row 
    max-width: 114rem
    margin: 0 auto
    @include clearfix
    &:not(:last-child)
        margin-bottom: $margin-btn

[class^=col-]
    float: left
    &:not(:last-child)
     margin-right: $margin-gorizont
.col-1-of-2
    width: calc((100% - #{$margin-gorizont}) / 2)
.col-1-of-3
    width: calc((100% - 2 * #{$margin-gorizont}) / 3 )
.col-2-of-3 
    width: calc( 2 * ((100% - 2 * #{$margin-gorizont}) / 3) + #{$margin-gorizont})
.col-1-of-4
    width: calc((100% - 3* #{$margin-gorizont}) / 4)
.col-2-of-4
    width: calc( 2 * ((100% - 3 * #{$margin-gorizont}) / 4) + #{$margin-gorizont})
.col-3-of-4 
    width: calc( 3 * ((100% - 3 * #{$margin-gorizont}) / 4) + 2 * #{$margin-gorizont})