//first block

@mixin header-first
    font-weight: 800
    font-size: 5rem
    letter-spacing: 1rem
    line-height: 6rem

@mixin header-second 
    font-weight: 100
    font-size: 4rem
    line-height: 4.8rem
    letter-spacing: .5rem
    text-transform: lowercase

// second block

@mixin title-second-block
font-weight: 800
font-size: 3.6rem
line-height: 4.3rem
letter-spacing: 1rem
background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%)
-webkit-background-clip: text
-webkit-text-fill-color: transparent
background-clip: text
text-fill-color: transparent

@mixin title-text
font-weight: 700
font-size: 2rem
line-height: 2.4rem
letter-spacing: .2rem
color: $gray

@mixin text-second-block
font-weight: 400
font-size: 1.6rem
line-height: 140%
letter-spacing: .2rem
color: $gray



    