*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  .page {
    font-size: 57%;
  }
}
@media only screen and (max-width: 900px) {
  .page {
    font-size: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .page {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1600px) {
  .page {
    font-size: 65%;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  background-color: #E5E5E5;
}

.container {
  background-color: #F7F7F7;
  z-index: -3;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (min-width: 1600px) {
  .row {
    max-width: 144rem;
  }
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 90.1rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3);
  }
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3* 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 2.5rem;
  }
}

.header {
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/background/header-img.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative;
}
.header__img {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 5.6rem;
  height: 7rem;
}

.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.header__title {
  color: #fff;
}
.header__title__first {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 1rem;
  line-height: 6rem;
  text-transform: uppercase;
  animation-name: LeftToRight;
  animation-duration: 1s;
  animation-delay: 0.5s;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1240px) {
  .header__title__first {
    font-size: 4rem;
  }
}
.header__title__second {
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  text-transform: lowercase;
  display: block;
  animation-name: RightToLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  margin-bottom: 6.6rem;
}
@media only screen and (max-width: 1240px) {
  .header__title__second {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
}

.about-section {
  padding-top: 8rem;
  padding-bottom: 5rem;
}
@media only screen and (max-width: 1240px) {
  .about-section {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .about-section {
    padding-bottom: 37rem;
  }
}

.text-wrapper {
  text-align: center;
  padding-bottom: 8rem;
}
@media only screen and (max-width: 1240px) {
  .text-wrapper {
    padding-bottom: 5rem;
  }
}

.title-gardient {
  font-weight: 800;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  -webkit-backface-visibility: hidden;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  transition: all 0.7s;
  display: inline-block;
}
@media only screen and (max-width: 1240px) {
  .title-gardient {
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
  }
}
.title-gardient:hover {
  transform: scale(1.08);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.item-card__wrapper {
  margin-bottom: 4.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all 0.4s;
}
.item-card__wrapper:hover {
  background-color: #A14F03;
  color: #fff;
  transform: scale(1.1);
  transform: translateY(-1rem);
}

.card-title__wrapper {
  margin-bottom: 1rem;
}

.card-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  display: inline-block;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 1240px) {
  .card-title {
    font-size: 1.7rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 900px) {
  .card-title {
    font-size: 2.1rem;
  }
}

.card-text {
  font-size: 1.4rem;
}
@media only screen and (max-width: 900px) {
  .card-text {
    font-size: 1.6rem;
  }
}

.about_gallery {
  position: relative;
}
.about_gallery__photo {
  width: 55%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
  border-radius: 0.5rem;
}
.about_gallery__photo:hover {
  transform: scale(1.1);
  z-index: 10;
  outline: 0.7rem solid #BA8554;
}
.about_gallery__photo_first {
  top: 0;
  left: 0;
}
.about_gallery__photo_second {
  top: 8rem;
  left: 18rem;
}
.about_gallery__photo_third {
  top: 18rem;
  left: 2rem;
}
.about_gallery:hover .about_gallery__photo:not(:hover) {
  transform: scale(0.9);
}

.adventure-section {
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/background/adventure.jpg) center/cover no-repeat;
  padding: 21rem 10rem;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}
.adventure-section__card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.5s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
@media only screen and (max-width: 1240px) {
  .adventure-section__card {
    padding: 2.3rem;
  }
}
@media only screen and (max-width: 900px) {
  .adventure-section__card {
    height: 100%;
  }
}
.adventure-section__card:hover {
  transform: scale(1.1) translateY(-1rem);
}
.adventure-section__icon {
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6rem;
  margin-bottom: 2rem;
  display: block;
}

.section-tours {
  padding: 8rem 0;
}
@media only screen and (max-width: 1240px) {
  .section-tours {
    padding: 5rem 0;
  }
}

.tour-card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card {
    height: auto;
  }
}
.tour-card__side {
  height: 50rem;
  color: white;
  transition: all 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side {
    position: relative;
  }
}
.tour-card__side_front {
  background-color: #fff;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side {
    padding-bottom: 12.6rem;
  }
}
.tour-card__side_back {
  background: linear-gradient(156.85deg, #BA8554 3.65%, #A14F03 100%);
  transform: rotateY(180deg);
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side_back {
    transform: rotate(0);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    margin-top: -10rem;
    padding: 5rem;
  }
}
.tour-card:hover .tour-card__side_front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card:hover .tour-card__side_front {
    transform: rotate(0);
  }
}
.tour-card:hover .tour-card__side_back {
  transform: rotateY(0deg);
}
.tour-card_img {
  height: 45%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
}
@media only screen and (max-width: 900px) {
  .tour-card_img {
    height: 65%;
  }
}
.tour-card_img__first {
  background: url(../img/content/card-1.jpg) bottom/cover no-repeat;
}
.tour-card_img__second {
  background: url(../img/content/card-2.jpg) bottom/cover no-repeat;
}
.tour-card_img__third {
  background: url(../img/content/card-3.jpg) center/cover no-repeat;
}

.tour-card_title {
  font-weight: 200;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.2rem;
  text-align: right;
  padding: 1rem;
  display: block;
  color: #fff;
  text-transform: uppercase;
}
.tour-card_title__first {
  padding: 1rem 2rem 0.5rem 2rem;
  position: absolute;
  top: 16rem;
  right: 0;
  background: linear-gradient(156.85deg, #BA8554 3.65%, #A14F03 100%);
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card_title__first {
    top: 10rem;
  }
}
.tour-card_title__second {
  position: absolute;
  top: 20rem;
  right: 0;
  background: linear-gradient(156.85deg, #BA8554 3.65%, #A14F03 100%);
  padding: 0.5rem 2rem 0.6rem 1.5rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card_title__second {
    top: 14rem;
  }
}

.tour-card_list {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  width: 72%;
}
.tour-card_list__wrapper {
  margin-top: 3.5rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card_list__wrapper {
    margin-top: 0;
    margin-bottom: 5rem;
  }
}

.tour-card_item {
  color: #777;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  position: relative;
  text-decoration-line: underline;
  text-underline-offset: 0.4rem;
}
.tour-card_item:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card_item {
    font-weight: 500;
    line-height: 2.2rem;
  }
  .tour-card_item:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}

.backside_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 900px), (hover: none) {
  .backside_text {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    padding: 5rem 2rem 5rem 2rem;
  }
}
.backside_text__name {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-bottom: 9rem;
}
.backside_text__price {
  font-weight: 500;
  font-size: 6rem;
  line-height: 7.2rem;
  initial-letter: 0.2rem;
  color: #fff;
  margin-bottom: 9rem;
}

.title-gardient__white {
  color: #fff;
}

.reviews-section {
  position: relative;
  padding: 8rem 0;
  z-index: 1;
}
.reviews-section_card {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 5.5rem;
  transform: skewX(-25deg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  position: relative;
}
@media only screen and (max-width: 900px) {
  .reviews-section_card {
    transform: skewX(-15deg);
    text-align: center;
  }
}
@media only screen and (max-width: 1240px) {
  .reviews-section_card {
    width: 75%;
  }
}
.reviews-section_card > * {
  transform: skewX(25deg);
  transform: skewX(15deg);
}
.reviews-section_card__img {
  border-radius: 10rem;
  float: left;
  width: 16rem;
  height: 16rem;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
}
@media only screen and (max-width: 900px) {
  .reviews-section_card__img {
    float: none;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.reviews-section_card__img img {
  border-radius: 10rem;
  height: 100%;
  transition: all 0.5s;
}
.reviews-section_card__name {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  text-align: center;
  font-size: 2rem;
  line-height: 2.9rem;
  font-family: "Lato", sans-serif;
  opacity: 0;
  transition: all 0.5s;
}
.reviews-section_card:hover img {
  transform: scale(0.9);
  filter: blur(0.2rem) brightness(75%);
}
.reviews-section_card:hover .reviews-section_card__name {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.btn_wrapper {
  text-align: center;
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}

.bg-gardient {
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(1, 1, 1, 0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.section-form {
  background: linear-gradient(120deg, rgba(186, 133, 84, 0.7), #A14F03);
  padding: 10rem;
}

.form__wrapper {
  background: linear-gradient(114deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 56%, rgba(186, 133, 84, 0.6563667703) 56%, rgba(161, 79, 3, 0.7) 100%), url(../img/background/form.jpg) center/cover no-repeat;
  border-radius: 0.5rem;
  width: 100%;
  height: 52rem;
  padding: 5rem;
}
@media only screen and (max-width: 900px) {
  .form__wrapper {
    background: linear-gradient(114deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 506%, rgba(186, 133, 84, 0.6563667703) 56%, rgba(161, 79, 3, 0.7) 100%), url(../img/background/form.jpg) center/cover no-repeat;
  }
}
.form_title {
  margin-bottom: 3rem;
  font-weight: 800;
  color: transparent;
  font-size: 3.4rem;
  letter-spacing: 0.5rem;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  -webkit-backface-visibility: hidden;
  text-transform: uppercase;
}
@media only screen and (max-width: 1240px) {
  .form_title {
    font-size: 2.9rem;
  }
}

.input_wrapper:not(:last-child) {
  margin-bottom: 3rem;
  margin-bottom: 1rem;
}
.form_input {
  width: 50%;
  padding: 2rem 0 2rem 2rem;
  color: #000;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 900px) {
  .form_input {
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}
.form_input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.form_input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
}

.form_label {
  transition: 0.5s all;
  display: block;
  padding: 1rem 0 0 1.5rem;
}

.input_wrapper_radio {
  width: 55%;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1240px) {
  .input_wrapper_radio {
    width: 40%;
  }
}
@media only screen and (max-width: 900px) {
  .input_wrapper_radio {
    width: 100%;
  }
}

.input_radio {
  display: inline-block;
  width: 45%;
}
@media only screen and (max-width: 1240px) {
  .input_radio {
    display: block;
    width: 100%;
  }
  .input_radio:not(:last-child) {
    margin-bottom: 1.7rem;
  }
}

.form_label__radio {
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}

.radio_btn {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #A14F03;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -0.6rem;
}
.radio_btn::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #A14F03;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: 0.3s all;
}

.radio:checked ~ .form_label__radio .radio_btn::after {
  opacity: 1;
}

.radio {
  display: none;
}

.footer-page {
  background: #333;
}

.footer_wrapper {
  text-align: center;
  padding: 8rem 0 5rem 0;
}

.user-list {
  list-style-type: none;
  text-align: center;
  padding-bottom: 8rem;
}

.user-list_item {
  display: inline-block;
}
.user-list_item:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 900px) {
  .user-list_item:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.user-list_link:link, .user-list_link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  display: inline-block;
}
.user-list_link:hover {
  color: #BA8554;
  transform: translateY(-0.5rem);
}
.user-list_link:active {
  transform: translateY(0);
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  background-color: white;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  display: inline-block;
  transition: 0.3s;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  position: relative;
  outline: none;
  border: none;
}
@media only screen and (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
    padding: 1rem 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
    padding: 2rem 5rem;
  }
}
.btn:hover, .btn:link:hover, .btn:visited:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active, .btn:link:active, .btn:visited:active {
  transform: translateY(1px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.btn::after, .btn:link::after, .btn:visited::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn_animated, .btn:link_animated, .btn:visited_animated {
  animation: BtnToTop 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}
.btn_brown {
  background: #A14F03;
  color: #fff;
}
.btn_brown::after {
  background: #A14F03;
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  70% {
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes BtnToTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-about:link, .btn-about:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  position: relative;
  transition: transform 0.5s;
  color: #A14F03;
}
@media only screen and (max-width: 900px) {
  .btn-about:link, .btn-about:visited {
    background-color: #BA8554;
    color: #fff;
  }
}
.btn-about:hover {
  background-color: #BA8554;
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.btn-about:active {
  transform: translateY(0);
}
.btn-about::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #BA8554;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__togler {
  display: none;
}
.nav__togler:checked ~ .nav__background {
  transform: scale(180);
}
.nav__togler:checked ~ .nav__wrapper {
  width: 100%;
  opacity: 1;
}
.nav__button {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 12;
  text-align: center;
}
.nav__button:hover {
  cursor: pointer;
}
.nav__background {
  width: 5rem;
  height: 5rem;
  background-color: #A14F03;
  position: fixed;
  top: 7rem;
  right: 7rem;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s;
}
.nav__wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  opacity: 0;
  width: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
}
.nav__item {
  text-align: center;
  width: 100%;
}
.nav__item:not(:last-child) {
  margin-bottom: 4rem;
}
.nav__link:link, .nav__link:visited {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 222%;
  transition: 0.4s all;
  border-radius: 0.3rem;
  display: inline-block;
}
.nav__link:hover {
  color: #A14F03;
  background-position: 100%;
  transform: translateX(2rem);
}
.nav__icon {
  position: relative;
  margin-top: 3.4rem;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 3rem;
  height: 0.18rem;
  background: #000;
  display: inline-block;
  transition: all 0.2s;
  backface-visibility: hidden;
}
.nav__icon::before, .nav__icon::after {
  content: "";
  left: 0;
  position: absolute;
}
.nav__icon::before {
  top: 1rem;
  left: 0;
}
.nav__icon::after {
  top: -1rem;
  left: 0;
}
.nav__button:hover .nav__icon::before {
  top: 1.1rem;
}
.nav__button:hover .nav__icon::after {
  top: -1.1rem;
}
.nav__togler:checked + .nav__button .nav__icon {
  background: transparent;
}
.nav__togler:checked + .nav__button .nav__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.nav__togler:checked + .nav__button .nav__icon::after {
  transform: rotate(-135deg);
  top: 0;
}/*# sourceMappingURL=style.css.map */